@font-face {
    font-family: 'HeadlinerNo45';
    src: url('fonts/HeadlinerNo45.ttf') format('truetype');
}

html{
    height: 100%;
}

body{
    height: 100%;
    overflow-y:scroll;
}

.bg {
    background-image: url('images/bg-img2.jpg');
    height: 100%;
    font-family: HeadlinerNo45;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-container {
    height: 100%;
    display: table;
    width: 100%;
    margin: 0;
}

.center-row {
    height: 50%;
    width: 100%;
    display: table-row;
}

.center-row > div {
    height: 100%;
    width: 50%;
    display: table-cell;
    border: 0 solid #eee;
    color: #fff;
    vertical-align: middle;
}

.section-space{
    padding-top: 1em;
}

.heading-text {
    padding-top: 1em;
    font-size: larger;
}

.list-text {
    font-size: smaller;
}

.big-text {
    font-size: 5em;
}