/* colors
    darkblue -- rgb(39,34,53)
    lighterblue -- rgb(122,129,152)
    beige -- rgb(170,173,151)
    lightgreen -- rgb(187,206,138)
    darkgreen -- rgb(125,145,111)
    darkergreen -- rgb(69,80,61)
*/

@font-face {
    font-family: 'HeadlinerNo45';
    src: url('fonts/HeadlinerNo45.ttf') format('truetype');
}

html{
    height: 100%;
}

body{
    height: 100%;
    overflow-y:scroll;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Karla', sans-serif;
}

.bg {
    background-image: url('images/bg-img2.jpg');
    height: 100%;
    font-family: HeadlinerNo45;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-container {
    height: 100%;
    display: table;
    width: 100%;
    margin: 0;
}

.center-row {
    height: 50%;
    width: 100%;
    display: table-row;
}

.center-row > div {
    height: 100%;
    width: 50%;
    display: table-cell;
    border: 0 solid #eee;
    color: #fff;
    vertical-align: middle;
}

.heading-text {
    font-size: larger;
    font-weight: bold;
}

.list-text {
    font-size: smaller;
}

.big-text {
    font-size: 5em;
    font-family: HeadlinerNo45;
}

.fadein
{
    opacity:0;
}

.loader{
  height: 10px;
  background-color: #000;
  position: absolute;
}

.content{
    text-align: center;
    display: none;
}


.slide {
    position: absolute;
    left: -2000px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

.middle-text {
    text-align: center;
    vertical-align: middle;
}

.middle-half {
    text-align: center;
    vertical-align: middle;
    line-height: 50vh;
}

.screen-height {
    height: 50vh;
}

.item-padding {
    padding: 2px;
}

.heading-padding {
    padding-top: 15px;
}

.full-column {
    height:100vh;
}

@media (max-width: 576px) {
    .full-column {
        height: 100%;
    }
}

.skills-content {
    padding:0; 
    background-color:rgb(69,80,61); 
    color:white;
}

.heading-column {
    background-color:rgb(39,34,53);
    padding-top: 10px;
    line-height: 90vh;
}

.screen-half {
    height: 50vh;
}

.arrow-r {
    position:absolute;
    bottom:0;
    right:.25em;
}
.arrow-l {
    position: absolute;
    bottom: 0;
    left: .25em;
}

.proj-title {
    display: table;
    height: 20% !important;
}

.proj-title-txt {
    display: table-cell;
    vertical-align: middle;
    font-size: 2em;
}

.proj-desc {
    display: table;
    height: 80% !important;
    padding-left: 10%;
    padding-right: 10%
}

.proj-high {
    display: table;
    height: 100% !important;
    padding-left: 10%;
    padding-right: 10%
}

.proj-high-txt {
    display: table-cell;
    vertical-align: middle;
}

@media (max-width: 992px) {
    .heading-column {
        line-height:20vh;
    }
}

.proj_1 {
    background-color: rgb(125,145,111);
}

.proj_2 {
    background-color: rgb(39,34,53);
    color: white;
}

.proj_3 {
    background-color: cyan;
}

.proj_0 {
    background-color: magenta;
}